In [255]:
print("testando jupxter")

testando jupxter

In [256]:
import pandas as pd
tabela = pd.DataFrame({"Nome":["João", "Maria", "José"], "Idade":[21, 30, 25]})
display(tabela)
print(tabela)

    Nome  Idade
0   João     21
1  Maria     30
2   José     25

    Nome  Idade
0   João     21
1  Maria     30
2   José     25

In [257]:
import pandas as pd

colunas = ["Nome", "Idade", "Sexo"]
dados = [["pedro", 25, "M"]]
df = pd.DataFrame(dados, columns=colunas)
display(df)

    Nome  Idade Sexo
0  pedro     25    M

In [51]:
import pandas as pd

# Definindo as colunas e dados iniciais
colunas = ["Nome", "Idade", "Sexo"]
dados = [["Ana", 17, "F"], ["Sd", 19, "M"], ["mariana", 32, "F"], ["joao", 18, "M"], ["gb", 17, "M"]]

# Criando o DataFrame original
df = pd.DataFrame(dados, columns=colunas)

# Inicializando a soma das idades e as colunas auxiliares
df["Soma das idades"] = 0
df["linha"] = 0

# Inicializando ou recuperando a contagem de execuções
if 'exec_count' not in globals():
    exec_count = 0  # Se a variável não existir, começa com 0

# Ordenando o DataFrame pelo valor das idades
df_ordem = df.sort_values(by=["Idade", "Soma das idades"], ascending=True).copy()

# Resetando o índice da tabela ordenada
df_ordem.reset_index(drop=True, inplace=True)

# Calculando a soma cumulativa das idades
df_ordem["Soma das idades"] = df_ordem["Idade"].cumsum()

# Alterando as idades e atualizando a coluna 'linha'
for i in range(len(df_ordem)):
    # A fórmula agora diminui o incremento conforme o valor de i aumenta
    decremento = (len(df_ordem) - i)  # O decremento será máximo na primeira linha e diminui conforme i aumenta
    df_ordem.loc[i, "Idade"] += 1 * ((i + 1) + exec_count) * decremento
    df_ordem.loc[i, "linha"] = i + 1  # Atualiza a linha

# Reordenando novamente após a alteração das idades
df_ordem = df_ordem.sort_values(by=["Idade", "Soma das idades"], ascending=True).reset_index(drop=True)

# Exibindo a nova tabela com alterações
print("Nova tabela com alterações:")
display(df_ordem)

# O DataFrame original permanece inalterado, como esperado
print("Tabela original:")
display(df)  # Exibe o DataFrame original, sem modificações

# Atualiza a contagem de execuções para a próxima vez
exec_count += 1

Nova tabela com alterações:

      Nome  Idade Sexo  Soma das idades  linha
0  mariana     87    F              103      5
1       Sd    127    M               71      4
2     joao    177    M               52      3
3       gb    225    M               34      2
4      Ana    272    F               17      1

Tabela original:

      Nome  Idade Sexo  Soma das idades  linha
0      Ana     17    F                0      0
1       Sd     19    M                0      0
2  mariana     32    F                0      0
3     joao     18    M                0      0
4       gb     17    M                0      0